@mixin no-transitions () {
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-o-transition: none !important;
	-ms-transition: none !important;
	transition: none !important;
}

// Media Queries
@mixin mediaQuery($width: 0, $height: false) {
    @if $height and $width {
        @media ( min-width: + $width ) and ( min-height: + $height ) {
            @content;
        }
    } @else if $width {
        @media ( min-width: + $width ) {
            @content;
        }
    } @else if $height {
        @media ( min-height: + $height ) {
            @content;
        }
    }
}

.jsj-gallery-slideshow-gallery-container {

	// Navigation

	.gallery-navigation {
		font-size: 12px;
		a {
			cursor: pointer;
			&:hover {
				color: #000;
			}
			&:hover {
				color: #fff;
				background-color: #000; 
			}
		}
		.gallery-numbering{
			color: #777;
		}
	}

	// Gallery

	.jsj-gs-gallery {
		margin-top: 10px;
		margin-bottom: 10px; 
		overflow: hidden;

		@include no-transitions();

		img {
			border: 0px;
			margin: 0px;
			@include no-transitions();
		}
	}

	.gallery-item {
		float: left;
		margin: 10px;
		text-align: center;
		width: auto;
		@include no-transitions();
	}
}