@mixin no-transitions () {
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-o-transition: none !important;
	-ms-transition: none !important;
	transition: none !important;
}

.jsj-gallery-slideshow-gallery-container {

	// Navigation

	.gallery-navigation {
		font-size: 12px;
		a {
			cursor: pointer;
			&:hover {
				color: #000;
			}
			&:hover {
				color: #fff;
				background-color: #000; 
			}
		}
		.gallery-numbering{
			color: #777;
		}
	}

	// Gallery

	.jsj-gs-gallery {
		margin-top: 10px;
		margin-bottom: 10px; 
		overflow: hidden;

		@include no-transitions();

		img {
			border: 0px;
			margin: 0px;
			@include no-transitions();
		}
	}

	.gallery-item {
		float: left;
		margin: 10px;
		text-align: center;
		width: auto;
		@include no-transitions();
	}

	// Pager

	.jsj-gs-pager {
		width: 600px;
		li {
			padding: 0px;
			float: left;
			list-style: none;
			margin: -3px 7px 7px -3px;
			display: inline-block;
			height: 75px; 
			width: 75px; 
			cursor: pointer;

			background-clip: content-box;
			background-size: cover;
			background-repeat: no-repeat; 
			background-position: center center; 
			border: solid 1px #ccc;

			&.activeSlide_gallery_cycle {
				border: solid 1px #000;
			}

			&:hover, &:focus {
				background-color: #000
			}

			img {
				height: 75px;
			}
		}
	}

}